/*Fonts & colors*/
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
.nav-bar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 5px solid #474985;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
#name-in-hdr {
  padding-left: 5rem;
  color: #474985;
  background-color: white;
  font-size: 2.5rem;
}
.header-icon {
  background-color: white;
  color: #474985;
  border: 3px solid #DEB841;
  cursor: pointer;
  text-decoration: none;
  padding: .2rem;
  margin: 1rem;
}
.header-icon:hover {
  background-color: #DEB841;
  color: white;
}
.resume {
  border: 3px solid  #474985;
  border-radius: 8px;
  
}
.resume:hover {
  background-color: #474985;
}

/*Mobile Nav-bar*/
.hamburger {
  display: none;
  padding: .8rem;
  margin: .3rem;
}
/* This is a wrapper for the whole timeline*/
#timeline {
  padding: 6rem 0;
  margin: 0 auto;
  top: 4rem;
}
/* Wrapper for indv post */
.entry {
  padding: 2rem 1rem;
  position: relative;
  width: 40%;
}
.left {
left: 5%;
background-color: #474985;
color: white;
}
.right {
  left: 55%;
  background-color: #DEB841;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Yaldevi', sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid white;
  margin-bottom: .5rem;
}
.body {
  font-size: 1.5rem;
}
.svg {
  display: block;
  width: 100%;
  height: 20rem;
}