/*Fonts & colors*/
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 5px solid #474985;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
#back-btn {
  height: 2rem;
  align-self: center;
}
#name-in-hdr {
  display: flex;
  padding-left: 5rem;
  color: #474985;
  background-color: white;
  font-size: 2.5rem;
}
.header-icon {
  background-color: white;
  color: #474985;
  border: 3px solid #DEB841;
  cursor: pointer;
  text-decoration: none;
  padding: .2rem;
  margin: 1rem;
}
.header-icon:hover {
  background-color: #DEB841;
  color: white;
}
.resume {
  border: 3px solid  #474985;
  border-radius: 8px;
  
}
.resume:hover {
  background-color: #474985;
}

/*Mobile Nav-bar*/
.hamburger {
  display: none;
  padding: .8rem;
  margin: .3rem;
}
/* This is a wrapper for the whole timeline*/
#timeline {
  padding: 6rem 0 0 0;
  margin: 0 auto;
  top: 4rem;
}
#intro {
  position: relative;
  left: 5%;
  max-width: 90%;
  border: 10px solid #DEB841;
  color: #474985;
  font-size: 1.5rem;
  font-family: 'Yaldevi', sans-serif;
  background-color: #DEB841;
}
/* Wrapper for indv post */
.entry {
  padding: 2rem 1rem;
  position: relative;
  width: 40%;
}
.left {
left: 5%;
background-color: #474985;
color: white;
}
.right {
  left: 55%;
  background-color: #DEB841;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Yaldevi', sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid white;
  margin-bottom: .5rem;
}
.body {
  font-size: 1.5rem;
}
.svg {
  display: block;
  width: 100%;
  height: 20rem;
}
/*Start contact info*/
#contact {
  margin: auto;
}
.contact-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 5%;
  max-width: 90%;
  margin: 0 0 5rem 0;
  border: 10px solid #474985;
}
.chat-left {
  display: flex;
  flex-direction: column;
}
.chat-msg {
  font-size: 6rem;
  width: 19rem;
  text-align: center;
  color:#474985;
}
.contact-methods {
  display: flex;
  justify-content: space-between;
}
#contact-phone-number {
  font-size: 2rem;
}
#contact img {
  width: 2rem;
}
#contact-email {
  font-size: 1.5rem;
}
#contact-linkedin {
  font-size: 1.5rem;
}
.aligned-center {
  text-align: center;
}
.top-form-row {
  display: flex;
  justify-content: space-between;
}
.chat-right {
  width: 19rem;
  padding: 4rem 1rem 0 0;
}
@media screen and (max-width: 750px) {
  #name-in-hdr {
    font-size: 1.8rem;
  }
  /* Change to a standard view */
  .left {
    left: 0%;
  }
  .right {
    left: 0%;
  }
  .entry {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 650px) {
  .contact-wrapper {
    flex-direction: column;
  }
  .chat-msg {
    width: unset;
  }
  .chat-right {
    width: unset;
    padding: unset;
  }
  /* navbar css for mobile start */
  .hamburger{
    display: block;
  }
  .nav-bar {
    height: 60px;
    overflow: visible;
  }
  .nav-bar ul {
    position: absolute;
    width: 100%;
    height: 290px; 
    left: 0;
    top: 80px;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .nav-bar ul li {
    width: 100%;
    padding: 2rem 0;
    text-align: end;
  }
  .nav-bar ul li a {
    padding: 15px;
  }
  .nav-bar ul.open {
    max-height: 63vh;
    overflow: visible;
  }
  /* navbar css for mobile end */
}