/*Fonts & colors*/
@font-face {
  font-family: mulish;
  src: url(Mulish-Medium.ttf) 
}

.background-blue {
  background-color: #474985;
} 
.background-yellow {
  background-color: #DEB841;
}
.text-blue {
  color: #474985;
}
.text-white {
  color: white;
}
.small-text {
  font-size: 2rem;
}
#exclaim-the-name {
  font-size: 3rem;
}

/*Titles above each section*/
.titles {
  font-size: 2.5rem;
  padding-left: 5rem;
  padding-top: 4rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  background-color: white;
  border-bottom: 5px solid #474985;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 1.5rem;
  
}
.name-in-hdr {
  padding-left: 5rem;
  color: #474985;
  background-color: white;
  font-size: 2.5rem;
}
.header-icon {
  background-color: white;
  color: #474985;
  border: 3px solid #DEB841;
  cursor: pointer;
  text-decoration: none;
  padding: .2rem;
}

.header-icon:hover {
  background-color: #DEB841;
  color: white;
}
.resume {
  border: 3px solid  #474985;
  border-radius: 8px;
  
}
.resume:hover {
  background-color: #474985;
}

/*Mobile Nav-bar*/
.hamburger {
  display: none;
  background-color: #DEB841;
  padding: .8rem;
  margin: .3rem;
}


/*Start Greeting*/
#greeting {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#alt-greeting {
  padding-top: 6rem;
  padding-bottom: 4rem;
  display: none;
  font-size: 3rem;
  width: 70%;
}

.bio-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.alt-bio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  margin: 0 auto;
}
#greeting img {  
  width: 35%;
  border-radius:8px;
}
#alt-greeting img {
  width: 80%;
  border-radius: 8px;
}

/*Start About-Me*/
#about-me {
  border-bottom: 2px dashed #474985;
}
.bio-description {
  width: 60%;
  margin: 5rem auto;
  text-align: center;
}
.languages-pics {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0 0 0;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.cpp img {
  width: 10rem;
}
.python img {
  width: 10rem;
}
.html img {
  width: 15.5rem;
}
.lang-names {
  color: white;
  font-size: 1.9rem;
}
.make-level {
  padding: 1.1rem 0 0 0;
}

/*Start Project*/
#projects {
  margin-bottom: 3rem;
}
.all-projects-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  padding-top: 3rem;
  overflow: auto;
  height: 28rem;

}
.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
}
.project-wrapper:nth-child(even) {
  border: 2px solid #474985;
  background-color: #DEB841;
  border-radius: 16px;
}.project-wrapper:nth-child(odd) {
  border: 2px solid #DEB841;
  background-color: #474985;
  border-radius: 16px;
  color: white;
}
.project-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 1rem;
}
.project-spacing {
  padding: 1rem 0;
}
.project-img-wrap {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 20rem;
}
.project-wrapper img {
  max-width: 100%;
}

/*Start experience section*/
.experience-work-container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
}
.exp-dimensions {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 24%;
}
.void-palio-shadow {
  border: 2px solid white;
  box-shadow: 0 0 1rem white;
}
.dhall-shadow {
  border: 2px solid #DEB841;
  box-shadow: 0 0 1rem #DEB841;
}
.exp-text-padding {
  padding: 1rem;
}
.exp-white-divider {
  border-top: 2px solid white;
}
.exp-yellow-divider {
  border-top: 2px solid #DEB841;
}
#void-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mdining-image {
  display: flex;
  justify-content: center;
}
#palio-image {
  display: flex;
  justify-content: center;
}
#void-logo {
  height: 8rem;
  margin: 1rem 0;
}
#mdining-logo {
  height: 6rem;
  width: 16rem;
  margin: 2rem 0;
  max-width: 100%;
}
#palio-logo {
  height: 6rem;
  width: 18rem;
  margin: 2rem 0;
  max-width: 100%;
}

/*Start contact info*/
.contact-wrapper {
  justify-content: space-between;
  display: flex;
  padding: 5rem 13rem;

}
.chat-left {
  display: flex;
  flex-direction: column;
  border-left: 3px solid #DEB841;
  border-top: 3px solid #DEB841;
}
.chat-msg {
  font-size: 6rem;
  width: 19rem;
  text-align: center;
  color: #474985;

}
.contact-methods {
  display: flex;
  justify-content: space-between;
}
#contact-phone-number {
  font-size: 2rem;
}
#contact img {
  width: 2rem;
}
#contact-email {
  font-size: 1.5rem;
}
#contact-linkedin {
  font-size: 1.5rem;
}
.aligned-center {
  text-align: center;
}
.top-form-row {
  display: flex;
  justify-content: space-between;
}
.chat-right {
  width: 19rem;
  padding: 4rem 1rem 0 0;
  border-right: 3px solid #DEB841;
  border-bottom: 3px solid #DEB841;
}
svg {
  display: block;
  width: 100%;
  height: 5rem;
  fill: #474985;
}
#farewell {
  background-color: #474985;
  text-align: center;
  color: white;
}
/*Fixes Palio logo*/
@media screen and (max-width: 1250px) {
  #palio-logo {
    height: 5rem;
    width: 15rem;
    margin: 2.5rem 0;
  }
}
/*Fixes work photos*/
@media screen and (max-width: 1000px) {
  #void-logo {
    height: 6rem;
    margin: 2rem 0;
  }
  #mdining-logo {
    height: 4rem;
    width: 10.66666rem;
    margin: 3rem 0;
  }
  #palio-logo {
    height: 4rem;
    width: 12rem;
    margin: 3rem 0;
  }
  .contact-wrapper {
    justify-content: space-evenly;
    padding: 2rem 0 0 0;
  }
}
/*left aligns the name in header*/
@media screen and (max-width: 900px) {

  .nav-bar ul {
    width: 60%;
  }
  .name-in-hdr {
    font-size: 2rem;
    padding-left: 0;
  }
  .bio-description {
    width: 80%;
  }
  .chat-msg {
    font-size: 5rem;
    width: 16rem;
  }
}
/*Switches to mobile layout*/
@media screen and (max-width: 650px) {
  .titles {
    padding-top: 5rem;
  }
  /* navbar css for mobile start */
  .hamburger{
    display: block;
  }
  .nav-bar {
    height: 60px;
    overflow: visible;
  }
  .nav-bar ul {
    position: absolute;
    width: 100%;
    height: 290px; 
    left: 0;
    top: 80px;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .nav-bar ul li {
    width: 100%;
    text-align: end;
  }
  .nav-bar ul li a {
    padding: 15px;
  }
  .nav-bar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  /* navbar css for mobile end */

  .bio-wrapper {
    width: 70%;
    flex-direction: column;
  }
  #greeting img {
    width: 75%;
  }

  /*About me Images*/

  .languages-pics {
    width: 100%;
    flex-direction: column;
  }
  .flex-dir-col:nth-child(odd) {
    align-items: center;
    padding: 3rem 0 3rem 0;
    border-left: 3px solid #DEB841;
    border-bottom: 3px solid #DEB841;
    border-top: 3px solid #DEB841;
  }
  .flex-dir-col:nth-child(2) {
    align-items: center;
    padding: 3rem 0 3rem 0;
    border-right: 3px solid #DEB841;
  }
  
  /*Projects Start*/
  #projects {
    margin-bottom: 4rem;
  }
  .all-projects-wrapper {
    padding-top: 3rem;
  }
  .project-wrapper {
    flex-direction: column-reverse;
  }
  .project-img-wrap {
    height: unset;
  }
  .project-left {
    width: 90%;
  }
  /*Exp start*/
  .experience-work-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4rem;
  }
  .exp-dimensions {
    width: 85%;
    margin: .5rem 0;
  }
  #void-logo {
    height: 10rem;
    margin: 0;
  }
  #mdining-logo {
    height: 8rem;
    width: 22rem;
    margin: 1rem 0;
  }
  #palio-logo {
    height: 10rem;
    width: 22rem;
    margin: 1rem 0;
  }

  /*Contact Start*/
  .contact-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
  }
  .chat-msg {
    width: 50%;
  }
  .chat-right {
    padding: 0;
  }
  .chat-left {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .chat-right {
    width: unset;
  }
  .contact-methods {
    width: 60%;
    margin: auto
  }
  #contact img {
    height: 2rem; 
  }
}
/* mobile breakpoint end */

/*small phone*/
@media screen and (max-width: 500px) {
  #exclaim-the-name {
    font-size: 2rem;
    text-align: center;
  }
  .small-text {
    text-align: center;
  }

  .titles {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  /*Insert project fixes here*/
  .all-projects-wrapper {
    max-width: 90%;
  }
  /*Exp stuff*/
  #void-logo {
    height: 7rem;
  }
  #mdining-logo {
    height: 4rem;
    width: 16rem;
  }
  #palio-logo {
    height: 5rem;
    width: 16rem;
  }

  /*Insert Contact stuff*/
  .chat-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .small-text {
    font-size: 1rem;
  }
  .chat-text {
    font-size: 3rem;
  }

}